.hero{
    width: 100%;
    min-height: 547px;

    display: flex;
    align-items: center;
    justify-content: start;

    padding: 20px 40px;
    
    background-color: #2D3748;
    background-image: url(../../../assets/bg-foto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    width: 600px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
}
.hero-title{
    color: #8a2be2;
    
    font-size: 42px;
    font-weight: 900;
}
.hero-desc{
    color: #8a2be2;

    font-size: 22px;
    font-weight: 700;
}